@{
    ViewBag.Title = "Login Page";
}

<div style="background-color: white ; border-radius: 14px ; display:inline-block;padding:80px"> <!--Creating the container-->
    <div class="row"> <!--Create the column-->
        <div class="col-xs-6" style="padding:50px;"><!--dividing the column into 2 halves-->
            <!-- Image Area -->
            <img src="~/Content/login.png" /> <!--I added a picture-->
        </div>
        <div class="col-xs-6" style="text-align:center; padding:90px"><!--dividing the column into 2 halves-->
            <div style="margin-top:2rem;"> <!--set the second column location-->
                <!-- Login Form -->
                <p><font face="Arial" size="5" color="black"><b>Member Login</b></font></p><br> <!--title of right half-->
                <form action="/Home/Index" method="post"> <!--Association of homecontroller-->
                    <!-- Username Textbox-->
                    <input type="text" name="userName" style="background-color:#e0e0e0;border-radius: 21px;padding-left:23px;padding-right:23px;padding-top:10px;padding-bottom:10px;margin-bottom:4px;margin-top:20px"><br>
                    <!-- Password Textbox-->
                    <input type="password" name="password" style="background-color:#e0e0e0; border-radius: 21px;padding-left:23px;padding-right:23px;padding-top:10px;padding-bottom:10px;margin-bottom:14px;margin-top:4px"><br>
                    <!--Button-->
                    <button type="submit" style="background-color:#2fcc00;border-radius: 21px;padding-left:80px;padding-right:80px;padding-top:9px;padding-bottom:9px;margin:10px;margin-left:13px"><font face="Arial" size="3" color="white"><b>LOGIN</b></font></button>
                </form>
                <p style="color:red">@ViewBag.Authentication</p>  <!--Information article after runs app-->
            </div>
        </div>
    </div>
</div>
