@{
    ViewBag.Title = "Login Page";
}
    <div style="background-color: white ; border-radius: 14px ; display:inline-block">
        <div class="row">
            <div class="col-xs-6" style="padding:80px;">
                <!-- Image Area -->
                <img src="~/Content/login.png"/>
            </div>
            <div class="col-xs-6" style="text-align:center; padding:80px;">
                <div style="margin-top:8rem;">
                    <!-- Login Form -->
                    <p><font face="Arial" size="5" color="black"><b>Member Login</b></font></p><br>
                    <input type="text" style="background-color:#e0e0e0;"><br>
                    <input type="password" style="background-color:#e0e0e0; border-radius: 21px"><br>
                    <button style="background-color:#2fcc00;"><font face="Arial" size="3" color="white"><b>LOGIN</b></font></button>
                </div>
            </div>
        </div>
    </div>
